html,
body {
  overflow-x: hidden; 
  }

body {
  padding-top: 70px;
  background-color: #0b2027
}

div {
  padding: 15px;
}

a {
  color: black;
}

h1 h2 h3 {
  text-align: center;
}

.admin_form {
  text-align: center;
}

.jumbotron {
   background-color: #f6f1d1;
 }

.resum {
  background-color: #f6f1d1;
  text-align: center ;
  }

.creme {
  background-color: #f6f1d1;
}

.blue {
  background-color: #56b2bf; 
}
.navbar.toggler.icon {
  color: black;
}

